@import './default.scss';

.sign__container {
  @include center-window($top: calc(50% - 60px));
}

.sign__form{
  width: 400px;
  @include wh(100%, auto);
}

.sign__container-grid {
  width: 400px;
  padding: 10px;
  row-gap: 10px;
  background-size: 120px 70px;
  box-shadow: $modalWindowShadow;
  border-radius: $modalWindowBorderRad;
  -webkit-border-radius: $modalWindowBorderRad;
  -moz-border-radius: $modalWindowBorderRad;
  -ms-border-radius: $modalWindowBorderRad;
  -o-border-radius: $modalWindowBorderRad;
  background-color: rgb(184, 201, 207);
}

.sign__redirect {
  @include flex();
  margin-top: 20px;
  gap: 10px;

    .sign__link {
      text-decoration: none;
      font-size: large;
    }

    .sign__link:hover {
      color: #ff00008d;
    }
}
