$modalWindowShadow:rgba(86, 99, 155, 0.6) 0px 10px 30px;
$modalWindowBorderRad: 10px;

@mixin center-window ($position: absolute, $top: 50%, $left: 50%, $transform: translate(-50%, -50%)) {
  position: $position;
  top: $top;
  left: $left;
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}

@mixin flex($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin wh($width: auto, $height: auto) {
  width: $width;
  height: $height;
}